packages/api-client/src/lgg/javascript/generated/** linguist-generated=true
packages/api-client/src/lgg/python/** linguist-generated=true 
packages/api-client/src/rice-shower/generated/** linguist-generated=true
